/* Style pour facule Jean Monnet, service recherche */

BODY { font-size: 100%; }
/* #centre { width: 80%; margin-left:80px; } */
H1, H2 { display: table; margin: auto; color:#138f69; }

DIV.entete {
    margin: 30px;
    text-align: justify;
}
TABLE.titre, H3.date, H3.sstitre, P.lieu { display: table; margin: auto; }
TABLE.titre { margin-bottom: 20px; }
TABLE.titre TD { padding: 20px; }
P.lieu, P.dateinscr { font-size: 120%; }
P.dateinscr { font-style: italic; }
FIELDSET {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color:#F8F8F8;
    width: 85%;
    padding: 20px;
    border: 1px solid #F2F2F2;
}
LABEL { margin-left: 10px; }
LEGEND {
    color: #6893c4;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
    border: 1px solid #696968;
    margin-bottom: 0;
    background-color:#F2F2F2;
}

SPAN.forminput {
    margin: 10px;
    white-space: nowrap;
}
SPAN.mandatory { color: red; }
SPAN.descriptionchamp { padding-left: 5px ; font-style: italic;}
INPUT {
    margin-top: 10px;
    margin-left: 10px;
}
/* INPUT.ng-invalid.ng-touched { background-color: #FA787E; }
INPUT.ng-valid.ng-touched { background-color: #78FA89; } */
DIV.buttonbar {
    text-align: center;
    display: table;
    margin: auto;
}

DIV.footnotes {
    font-style: italic;
    font-size: 90%;
    text-align: right;
    margin: 20px;
}

/* page d'administration */

HR {
    margin-top: 20px;
    margin-bottom: 10px;
}

TABLE {
    margin-top : 20px;
    margin-left : 10px;
}

TR > TH {
    padding: 5px;
    text-align: center;
}
TR > TD {
    border: 1px solid black;
    border-collapse: collapse;
    /* border: inset 1px; */
    padding: 5px;
    /* color: purple; */
    background-color: #f4f4f4;
}
TABLE.titre TD { border: 0; }

TD.statut { font-style: italic; }

TD.check { background-color: #ffff66; }

SPAN.comment {
	/* color:#009999; */
    font-style: italic;
    margin-top: 4px;
    margin-left: 20px;
}

UL.checkbox {
    list-style-type: none;
    display: inline;
}

/* Ajouts 2012+2017 */
H3 {color: #696968; }
A, LEGEND, .h2g A, .h2g A:visited, A:link, A:hover, H1 { color: #003A64; }
