{% extends 'base.html' %}

{% block content %}
{% set defpw = '' | generate_default_password %}
{% from "_formhelpers.html" import render_field with context %}

<div>
  <form method="POST" action="" role="form">
    {{ form.csrf_token }}
    <fieldset><legend>{{ gettext('Nouvel utilisateur') }}</legend>
    {{ render_field(form.username) }}
    {{ render_field(form.password, value=defpw) }}
    {{ render_field(form.gecos) }}
    {{ render_field(form.email) }}
    </fieldset>
    <div class="buttonbar"><button type="submit" class="btn">{{ gettext('Envoyer') }}</button></div>
  </form>
</div>
{% endblock %}
