{% extends 'base.html' %}

{% block content %}
<div>
  <form
     method="POST"
     action="{{ url_for('createuser') }}"
     role="form">
    {{ form.csrf_token }}
    <fieldset><legend>{{ gettext('Nouvel utilisateur') }}</legend>
      {{ form.username.label }} {{ form.username() }}
      <br/>{{ form.password.label }} {{ form.password() }}
      <br/>{{ form.role.label }} {{ form.role() }}
      <br/>{{ form.gecos.label }} {{ form.gecos() }}
    </fieldset>
    <div class="buttonbar"><button type="submit" class="btn">{{ gettext('Envoyer') }}</button></div>
  </form>
</div>
{% endblock %}
