<p>Madame/Monsieur,</p>

<p>Quelqu'un, probablement vous, a demandé la modification de la page d'inscription à l'événement&nbsp;:</p>

           <p><a href="{{ url_for('suivi', evt=evenement.id) }}">{{ evenement.titre }}</a></p>

<p><em>Si ce n'est pas vous, il s'agirait d'une anomalie, veuillez nous en avertir par retour de mail.</em></p>

<p>Voici les modifications effectuées :</p>

<ul>{% for l in lignes_info %}
<li>{{ l }}</li>
{% endfor %}</ul>

<p>Cordialement,</p>
<p>PS : ceci est un mail automatique, généré par le logiciel <em>SoCo</em></p>
<pre>--
Service de la recherche
Faculté Jean Monnet
Université Paris Saclay</pre>
