{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/flform.js') }}"></script>
{% endblock %}

{% block content %}
<div class="entete">
  <table class="titre"><tr>
    <td><img alt="{{ _('Logo SoCo') }}" src="{{ url_for('static', filename=logofilename) }}" /></td>
    <td><h1>{{ _('Interface d\'inscription à des événements') }}</h1></td>
  </tr></table>
</div>

<a href="{{ url_for('suivi_index') }}">{{ _('Espace réservé') }}</a>

{% for evenement in evenements %}
{% for f in evenement.formulaire %}
<p><a href="{{ url_for('soco', flform=f.id) }}">{{ _('Inscription à') }} <strong>{{ evenement.titre }} {{ evenement.date | localedate }}</strong> {{ _('ouvert du') }} {{ f.date_ouverture_inscriptions | localedate("d MMMM") }} {{ _('au') }} {{ f.date_cloture_inscriptions | localedate("d MMMM")}}, {{ _('mis à jour le') }} {{ f.upd | localedatetime}}</a></p>
{% endfor %}{% endfor %}

{% endblock %}
