{% extends 'base.html' %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/flform.js') }}"></script>
{% endblock %}

{% block content %}
<div>
 <p><em><font color="red">Utilisateurs de démonstration : demo/demo et admin/admin</font></em></p>
  <form
     method="POST"
     action="{{ url_for('auth.login') }}"
     role="form">
    {{ form.csrf_token }}
    {{ form.nexturl() }}
    <fieldset><legend>{{ gettext('Accès à l\'espace réservé') }}</legend>
      {{ form.username.label }} {{ form.username() }}
      <br/>{{ form.password.label }} {{ form.password() }}
      <br/>{{ form.rememberme.label }} {{ form.rememberme() }}
    </fieldset>
    <div class="buttonbar"><button type="submit" class="btn">{{ gettext('Envoyer') }}</button></div>
  </form>
</div>
{% endblock %}
