<!-- extend base layout -->
{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/flform.js') }}"></script>
{% endblock %}

{% block content %}
<div class="entete">
  <table class="titre"><tr>
    <td><img src="{{ url_for('static', filename=logofilename) }}" /></td>
    <td><h1>Inscription à : {{ evenement.titre }}</h1></td>
  </tr></table>
  {% if evenement.sstitre %}<h3 class="sstitre">{{ evenement.sstitre }}</h3>{% endif %}
  <h3 class="date">{{ evenement.date | datefr("d MMMM YYYY") }}
  {% if evenement.date_fin %} au {{ evenement.date_fin }}{% endif %}</h3>
  <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}Salle G. Vedel, Faculté Jean Monnet<br/>Université Paris Sud/Paris-Saclay{% endif %}</p>
  <br/>
  {% if evenement.resume %}<p class="resume">{{ evenement.resume }}</p>{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
      {% for message in messages %}
      <p><strong>{{ message }} </strong></p>
      {% endfor %}
      {% endif %}
{% endwith %}

<p>{{ msg }}</p>
<p><a href="{{ url_for('index') }}">Retour</a></p>
{% endblock %}
