<p>Madame/Monsieur,</p>

<p>Nous avons reçu une demande d'inscription à</p>

<p><strong>{{ evenement.titre }}</strong></p>

<p>Cette demande provient probablement de vous. Si ce n'est pas le cas,</p>

<p><strong>NE RÉPONDEZ PAS À CE MESSAGE</strong></p>

<p>Mais s'il s'agit bien de vous, voici le code de vérification qui va vous
permettre de terminer votre inscription :</p>

<p><code>{{ codeverif }}</code></p>

<p><em>(Il vous suffit de le coller sur la page d'inscription, dans la case prévue
à cet effet)</em></p>

<p>Cordialement,</p>
<pre>--
Service de la recherche
Faculté Jean Monnet
Université Paris Saclay</pre>
