<p>Madame/Monsieur,</p>

<p>Quelqu'un, probablement vous, a demandé la modification de l'événement</p>

           <p><strong>{{ evenement.titre }}</strong></p>

<p>Si ce n'est pas vous, il s'agirait d'une anomalie, veuillez nous avertir par
retour de mail.</p>

<p>Voici les modifications effectuées :</p>

<ul>{% for l in lignes_info %}
<li>{{ l }}</li>
{% endfor %}</ul>

<p>Cordialement,</p>
<p>PS : ceci est un mail automatique</p>
<pre>--
Service de la recherche
Faculté Jean Monnet
Université Paris Saclay</pre>
