<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{{ current_user.username }}
<div class="entete">
<table class="titre">
<tr>{% if evenement.logo %}<td><img src="{{ evenement.logo }}" /></td>{% endif %}
    <td><h1>Inscription à : {{ evenement.titre }}</h1></td></tr></table>
      {% if evenement.sstitre %}<h3 class="sstitre">{{ evenement.sstitre }}</h3>{% endif %}
      <h3 class="date">{{ evenement.date | datefr("d MMMM YYYY") }}
      {% if evenement.date_fin %} au {{ evenement.date_fin }}{% endif %}</h3>
      <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}Salle G. Vedel, Faculté Jean Monnet<br/>Université Paris Sud/Paris-Saclay{% endif %}</p>
      <br/>
      {% if evenement.resume %}<p class="resume">{{ evenement.resume }}</p>{% endif %}
      <p class="dateinscr">(Formulaire ouvert du {{ formulaire.date_ouverture_inscriptions | datefr("d MMMM") }} au {{ formulaire.date_cloture_inscriptions | datefr("d MMMM") }})</p>
      {% if evenement.uid_organisateur == current_user.username %}<p><a href="/admin/formulaire/edit/?url=%2Fadmin%2Fformulaire%2F&amp;id={{ formulaire.id }}">Modifier ce formulaire</a></p>{% endif %}
</div>

<hr/>

{% from "_formhelpers.html" import render_field with context %}
<form action="" method="post" name="inscr">
  {{form.hidden_tag()}}
  <fieldset><legend accesskey="c">Vos coordonnées</legend>
    {{ render_field(form.nom, size=20, maxlength=26) }}
    {{ render_field(form.prenom, size=20, maxlength=26) }}
    {{ render_field(form.email, size=40) }}
    {{ render_field(form.telephone, size=20) }}
  </fieldset>
  <fieldset><legend accesskey="e">Votre entreprise / Institution</legend>
    {{ render_field(form.organisation, size=30, maxlength=40) }}
    {{ render_field(form.fonction, size=30, maxlength=40) }}
  </fieldset>
  <fieldset><legend accesskey="p">Votre participation</legend>
  {% if formulaire.champ_attestation %}{{ render_field(form.attestation_demandee) }}{% endif %}
  {% if formulaire.champ_type_inscription %}{{ render_field(form.type_inscription) }}{% endif %}
  {% if formulaire.champ_restauration_1 %}{{ render_field(form.inscription_repas_1) }}{% endif %}
  {% if formulaire.champ_restauration_2 %}{{ render_field(form.inscription_repas_2) }}{% endif %}
  </fieldset>

  <div class="buttonbar">
    <input type="submit" name="submit" accesskey="z" tabindex="14" value="Envoyer" />
  </div>

</form>

<section ng-controller="flformCtrl">
<form id="flform" name="flform" novalidate ng-submit="addInscription()">
  <fieldset><legend accesskey="c">Vos coordonnées</legend>
  Nom <input type="text" name="nom" ng-model="personne.nom" required="" /><br />
  <div ng-show="flform.$submitted || flform.nom.$touched">
    <span ng-show="flform.nom.$error.required">Merci d'indiquer votre nom</span>
  </div>
    Prénom <input type="text" name="prenom" ng-model="personne.prenom" /><br />
    Email <input type="email" name="email" ng-model="personne.email" required="" /><br />
    <div ng-show="flform.$submitted || flform.email.$touched">
      <span ng-show="flform.email.$error.required">Merci d'indiquer votre adresse électronique</span>
      <span ng-show="flform.email.$error.email">Cette adresse n'est pas valide</span>
    </div>
    Téléphone <input type="text" name="telephone" ng-model="personne.telephone" /><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(personne)" value="Save" />
  </fieldset>
</form>
<pre>personne = [[personne | json]]</pre>
<pre>prenom + nom = [[personne.prenom]] + [[personne.nom]]</pre>
<pre>Votre badge : [[personne.prenom + " " + personne.nom]]
Fonction, Institution</pre>
<pre>master = [[master | json]]</pre>
</section>

<div class="footnotes">
<p><span class="mandatory">*</span> Champ obligatoire</p>
<p>Contact pour l'inscription&nbsp;: Secrétariat du Département de la Recherche &lt;colloques.jean-monnet@u-psud.fr&gt;</p>
<p>Contact pour ce site&nbsp;: Odile Bénassy &lt;informatique-recherche.droit-eco-gestion@u-psud.fr&gt;</p>
</div>

{% endblock %}
