<!-- extend base layout -->
{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls.js') }}"></script>
{% endblock %}

{% block content %}
{{ current_user.username }}
<div class="entete">
<table class="titre">
  <tr><td><img src="{{ logo }}" /></td>
    <td><h1>Inscription à : {{ evenement.titre }}</h1></td></tr></table>
      {% if evenement.sstitre %}<h3 class="sstitre">{{ evenement.sstitre }}</h3>{% endif %}
      <h3 class="date">{{ evenement.date | datefr("d MMMM YYYY") }}
      {% if evenement.date_fin %} au {{ evenement.date_fin }}{% endif %}</h3>
      <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}Salle G. Vedel, Faculté Jean Monnet<br/>Université Paris Sud/Paris-Saclay{% endif %}</p>
      <br/>
      {% if evenement.resume %}<p class="resume">{{ evenement.resume }}</p>{% endif %}
      <p class="dateinscr">(Formulaire ouvert du {{ formulaire.date_ouverture_inscriptions | datefr("d MMMM") }} au {{ formulaire.date_cloture_inscriptions | datefr("d MMMM") }})</p>
      {% if evenement.uid_organisateur == current_user.username %}<p><a href="/admin/formulaire/edit/?url=%2Fadmin%2Fformulaire%2F&amp;id={{ formulaire.id }}">Modifier ce formulaire</a></p>{% endif %}
</div>

<section ng-controller="flformCtrl">
  <form action="" method="post" id="flform" name="flform">
    {{ form.csrf_token }}
  <fieldset><legend accesskey="c">Vos coordonnées</legend>
  Nom <input type="text" name="nom" ng-model="personne.nom" required="" ng-change="cbadge1()" ng-blur="chkemail()" /><br />
  <div ng-show="flform.$submitted || flform.nom.$touched">
    <span ng-show="flform.nom.$error.required">Merci d'indiquer votre nom</span>
  </div>
  Prénom <input type="text" name="prenom" ng-model="personne.prenom" ng-change="cbadge1()" ng-blur="chkemail()" /><br /><br />
  <span ng-show="(personne.nom && personne.nom.length > 26) || (personne.nom && personne.prenom && ((personne.prenom + personne.nom).length > 26))" class="descriptionchamp">Attention, pour le badge, prénom + nom = 26 caractères max.</span>
  <pre><em>Sur votre badge :</em> <input type="text" size="27" maxlength="27" name="badge1" ng-model="badge1" /></pre>
    Email <input type="email" name="email" ng-model="personne.email" required="" ng-blur="chkemail()" /><br />
    <div ng-show="flform.$submitted || flform.email.$touched">
      <span ng-show="flform.email.$error.required">Merci d'indiquer votre adresse électronique</span>
      <span ng-show="flform.email.$error.email">Cette adresse n'est pas valide</span>
      <span ng-show="msg_duplicateemail">[[ msg_duplicateemail ]]</span>
      <span ng-show="personne.duplicateemail">Cette adresse est déjà utilisée par une autre personne. Est-ce vous malgré tout ? Dans ce cas, nous allons vous envoyer un mail pour vérifier. Veuillez cliquer <input type="button" ng-click="envoi_email_verification()" value="ici" /> <input type="button" ng-click="envoi_email_verification()" value="Envoyez-moi un email pour vérifier mon adresse, merci !" /></span>
      <span ng-show="personne.emailsent">Veuillez fournir ici le code que vous venez de recevoir par mail (4 caractères) : <input type="text" ng-model="personne.codeverif" /> <input type="button" ng-click="verifier_code()" value="Vérifier le code"/></span>
      <span ng-show="personne.codeok">Merci !</span>
      <span ng-show="personne.codeko">Nous sommes désolés, le code ne correspond pas. Veuillez utiliser une autre adresse email.</span>
    </div>
    Téléphone <input type="text" name="telephone" ng-model="personne.telephone" /><br />
  </fieldset>

  <fieldset><legend accesskey="e">Votre entreprise / Institution</legend>
  Organisation <input type="text" name="organisation" ng-model="personne.organisation" required="" ng-change="cbadge2()" /><br />
  <div ng-show="flform.$submitted || flform.organisation.$touched">
    <span ng-show="flform.organisation.$error.required">Merci d'indiquer votre organisation</span>
  </div>
  Fonction <input type="text" name="fonction" ng-model="personne.fonction" ng-change="cbadge2()"/><br /><br />
  <div ng-show="flform.$submitted || flform.fonction.$touched">
    <span ng-show="flform.fonction.$error.required">Merci d'indiquer votre fonction</span>
  </div>
  <span ng-show="(personne.fonction && personne.fonction.length > 32) || (personne.organisation && personne.organisation.length > 32) ||(personne.fonction && personne.organisation && ((personne.fonction + personne.organisation).length > 32))" class="descriptionchamp">Attention, pour le badge, fonction + organisation = 32 caractères max.</span>
  <pre><em>Sur votre badge :</em> <input type="text" size="33" maxlength="33" name="badge2" ng-model="badge2" /></pre>
  </fieldset>
  {% from "_formhelpers.html" import render_field with context %}
  <fieldset><legend accesskey="p">Votre participation</legend>
  {% if formulaire.champ_attestation %}{{ render_field(form.attestation_demandee) }}{% endif %}
  {% if formulaire.champ_type_inscription %}{{ render_field(form.type_inscription) }}{% endif %}
  {% if formulaire.champ_restauration_1 %}{{ render_field(form.inscription_repas_1) }}{% endif %}
  {% if formulaire.champ_restauration_2 %}{{ render_field(form.inscription_repas_2) }}{% endif %}
  </fieldset>
<div class="buttonbar">
  <input type="button" ng-click="reset()" value="Réinitialiser" />
  <input type="submit" name="submit" accesskey="z" tabindex="20" value="Envoyer" />
</div>
</form>
</section>

<div class="footnotes">
<!-- p><span class="mandatory">*</span> Champ obligatoire</p -->
<p>Contact pour l'inscription&nbsp;: Secrétariat du Département de la Recherche &lt;colloques.jean-monnet@u-psud.fr&gt;</p>
<p>Contact pour ce site&nbsp;: Odile Bénassy &lt;informatique-recherche.droit-eco-gestion@u-psud.fr&gt;</p>
</div>

{% endblock %}
