<!-- extend base layout -->
{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls.js') }}"></script>
{% endblock %}

{% block content %}
{{ current_user.username }}
<div class="entete">
<table class="titre">
<tr>{% if evenement.logo %}<td><img src="{{ evenement.logo }}" /></td>{% endif %}
    <td><h1>Inscription à : {{ evenement.titre }}</h1></td></tr></table>
      {% if evenement.sstitre %}<h3 class="sstitre">{{ evenement.sstitre }}</h3>{% endif %}
      <h3 class="date">{{ evenement.date | datefr("d MMMM YYYY") }}
      {% if evenement.date_fin %} au {{ evenement.date_fin }}{% endif %}</h3>
      <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}Salle G. Vedel, Faculté Jean Monnet<br/>Université Paris Sud/Paris-Saclay{% endif %}</p>
      <br/>
      {% if evenement.resume %}<p class="resume">{{ evenement.resume }}</p>{% endif %}
      <p class="dateinscr">(Formulaire ouvert du {{ formulaire.date_ouverture_inscriptions | datefr("d MMMM") }} au {{ formulaire.date_cloture_inscriptions | datefr("d MMMM") }})</p>
      {% if evenement.uid_organisateur == current_user.username %}<p><a href="/admin/formulaire/edit/?url=%2Fadmin%2Fformulaire%2F&amp;id={{ formulaire.id }}">Modifier ce formulaire</a></p>{% endif %}
</div>

<section ng-controller="flformCtrl">
<form id="flform" name="flform" novalidate ng-submit="addInscription()">
  <fieldset><legend accesskey="c">Vos coordonnées</legend>
  Nom <input type="text" name="nom" ng-model="personne.nom" required="" ng-change="cbadge1()" /><br />
  <div ng-show="flform.$submitted || flform.nom.$touched">
    <span ng-show="flform.nom.$error.required">Merci d'indiquer votre nom</span>
  </div>
  Prénom <input type="text" name="prenom" ng-model="personne.prenom" ng-change="cbadge1()" /><br /><br />
  <span ng-show="(personne.nom && personne.nom.length > 26) || (personne.nom && personne.prenom && ((personne.prenom + personne.nom).length > 26))" class="descriptionchamp">Attention, pour le badge, prénom + nom = 26 caractères max.</span>
  <pre><em>Sur votre badge : <input type="text" size="27" maxlength="27" name="badge1" ng-model="badge1" /></em></pre>
    Email <input type="email" name="email" ng-model="personne.email" required="" /><br />
    <div ng-show="flform.$submitted || flform.email.$touched">
      <span ng-show="flform.email.$error.required">Merci d'indiquer votre adresse électronique</span>
      <span ng-show="flform.email.$error.email">Cette adresse n'est pas valide</span>
    </div>
    Téléphone <input type="text" name="telephone" ng-model="personne.telephone" /><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(personne)" value="Save" />
  </fieldset>

  <fieldset><legend accesskey="e">Votre entreprise / Institution</legend>
  Organisation <input type="text" name="organisation" ng-model="personne.organisation" required="" /><br />
  <div ng-show="flform.$submitted || flform.organisation.$touched">
    <span ng-show="flform.organisation.$error.required">Merci d'indiquer votre organisation</span>
  </div>
  Fonction <input type="text" name="fonction" ng-model="personne.fonction" required="" /><br />
  <div ng-show="flform.$submitted || flform.fonction.$touched">
    <span ng-show="flform.fonction.$error.required">Merci d'indiquer votre fonction</span>
  </div>
  <pre><em>Sur votre badge : [[personne.fonction + " - " + personne.organisation]]</em></pre>
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(personne)" value="Save" />
  </fieldset>
  <fieldset><legend accesskey="p">Votre participation</legend>
  À générer par le JS
  </fieldset>
</form>
<pre>personne = [[personne | json]]</pre>
<pre>master = [[master | json]]</pre>
</section>

<div class="footnotes">
<p><span class="mandatory">*</span> Champ obligatoire</p>
<p>Contact pour l'inscription&nbsp;: Secrétariat du Département de la Recherche &lt;colloques.jean-monnet@u-psud.fr&gt;</p>
<p>Contact pour ce site&nbsp;: Odile Bénassy &lt;informatique-recherche.droit-eco-gestion@u-psud.fr&gt;</p>
</div>

{% endblock %}
