{% extends 'base.html' %}

{% block content %}
<div>
  <form
     method="POST"
     action="{{ url_for('auth.login') }}"
     role="form">
    {{ form.csrf_token }}
    {{ form.nexturl() }}
    <fieldset><legend>Espace réservé</legend>
      {{ form.username.label }} {{ form.username() }}
      <br/>{{ form.password.label }} {{ form.password() }}
      <br/>{{ form.rememberme.label }} {{ form.rememberme() }}
    </fieldset>
    <div class="buttonbar"><button type="submit" class="btn">Envoyer</button></div>
  </form>
</div>
{% endblock %}
