<!-- extend base layout -->
{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls.js') }}"></script>
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<p>Vous êtes <code>{{ current_user.username }}</code> <a href="{{ url_for('auth.logout') }}">Sortir de l'espace réservé</a> <a href="{{ url_for('suivi_index') }}">Retour à la liste</a></p>
{% else %}
<a href="{{ url_for('auth.login') }}">Espace réservé</a>
{% endif %}

<div class="entete">
<table class="titre">
<tr>{% if logo %}<td><img src="{{ logo }}" /></td>{% endif %}
    <td><h1>Créer une nouvelle page d'inscription</h1></td></tr></table>
</div>

<hr/>

{% from "_formhelpers.html" import render_field with context %}
<form action="" method="post" name="ncoll">
  {{form.hidden_tag()}}
  <fieldset><legend accesskey="c">Votre colloque</legend>
    {{ render_field(form.titre, size=20, maxlength=26) }}
    {{ render_field(form.sstitre, size=20, maxlength=26) }}
    {{ render_field(form.date) }}
    {{ render_field(form.date_fin) }}
    {{ render_field(form.lieu, size=40) }}
  </fieldset>
  <fieldset><legend accesskey="e">Votre formulaire</legend>
    {{ render_field(form.date_ouverture_inscriptions) }}
    {{ render_field(form.date_cloture_inscriptions) }}
  </fieldset>

  <div class="buttonbar">
    <input type="submit" name="submit" accesskey="z" tabindex="14" value="Envoyer" />
  </div>

</form>

<section ng-controller="newevtCtrl">
<form id="ncollform" name="ncollform" novalidate ng-submit="addEvenement()">
  <fieldset><legend accesskey="c">Votre colloque</legend>
  Titre <input type="text" name="titre" ng-model="evenement.titre" required="" /><br />
  <div ng-show="ncollform.$submitted || ncollform.titre.$touched">
    <span ng-show="ncollform.titre.$error.required">Merci d'indiquer le titre de l'événement</span>
  </div>
  Sous-titre <input type="text" name="sstitre" ng-model="evenement.sstitre" /><br />
  Date <input type="date" name="date" ng-model="evenement.date" required="" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" show-button-bar="false" ng-required="true"  placeholder="aaaa-mm-jj" /><button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
  <br />
  <div ng-show="ncollform.$submitted || ncollform.date.$touched">
    <span ng-show="ncollform.date.$error.required">Merci d'indiquer la date de l'événement</span>
  </div>
  Date de fin (cas où l'événément dure plusieurs jours) <input type="date" name="date_fin" ng-model="evenement.date_fin" uib-datepicker-popup="{{format}}" is-open="popup2.opened" datepicker-options="dateOptions" show-button-bar="false" ng-required="false" /><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
  <br />
  Lieu <input type="lieu" name="lieu" ng-model="evenement.lieu" /><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(evenement)" value="Save" />
  </fieldset>

  <fieldset><legend accesskey="e">Votre formulaire d'inscription</legend>
  Date d'ouverture des inscriptions <input type="text" uib-datepicker-popup="{{format}}" is-open="popup3.opened" datepicker-options="dateOptionsOuvInsc" clear-text="Ré-init." current-text="Auj." close-text="OK" show-button-bar="false" ng-required="true" name="date_ouverture_inscriptions" ng-model="evenement.date_ouverture_inscriptions" required="" alt-input-formats="altInputFormats" /><button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
  <br />
  <div ng-show="ncollform.$submitted || ncollform.date_ouverture_inscriptions.$touched">
    <span ng-show="ncollform.date_ouverture_inscriptions.$error.required">Merci d'indiquer la date d'ouverture des inscriptions</span>
  </div>
  Date de clôture des inscriptions <input type="text" uib-datepicker-popup="{{format}}" is-open="popup4.opened" datepicker-options="dateOptionsClotInsc" name="date_cloture_inscriptions" ng-model="evenement.date_cloture_inscriptions" required="" /><button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
  <div ng-show="ncollform.$submitted || ncollform.date_cloture_inscriptions.$touched">
    <span ng-show="ncollform.date_cloture_inscriptions.$error.required">Merci d'indiquer la date de clôture des inscriptions</span>
  </div>
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(evenement)" value="Save" />
  </fieldset>
</form>
<pre>evenement = [[evenement | json]]</pre>
<pre>master = [[master | json]]</pre>
</section>

<div class="footnotes">
<p><span class="mandatory">*</span> Champ obligatoire</p>
<p>Contact pour l'inscription&nbsp;: Secrétariat du Département de la Recherche &lt;colloques.jean-monnet@u-psud.fr&gt;</p>
<p>Contact pour ce site&nbsp;: Odile Bénassy &lt;informatique-recherche.droit-eco-gestion@u-psud.fr&gt;</p>
</div>

{% endblock %}
