<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<p>Vous êtes <code>{{ current_user.username }}</code> <a href="{{ url_for('auth.logout') }}">Sortir de l'espace réservé</a> <a href="{{ url_for('suivi_index') }}">Retour à la liste</a></p>
{% else %}
<a href="{{ url_for('auth.login') }}">Espace réservé</a>
{% endif %}

<h1>{{ evenement.titre }}</h1>

<hr/>

<table><tr>
  <td><a href="{{ url_for('suivi', evt=evenement.id) }}">voir les inscrits</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='csv') }}" download>voir les inscrits (feuille de tableur)</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='listepdf') }}" download>liste à imprimer</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='emargement') }}" download>feuille d'émargement</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='mails') }}">adresses mail</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='badges') }}" download>étiquettes</a></td>
</tr></table>

<table><legend>Liste des inscrits</legend>
<tr>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Email</th>
  <th>Téléphone</th>
  <th>Attestation</th>
  {% if repas_1_existant %}<th>{{ texte_repas_1 }}</th>{% endif %}
  {% if repas_2_existant %}<th>{{ texte_repas_2 }}</th>{% endif %}
</tr>
{% for inscrit in inscrits %}
<tr>
  <td>{{ inscrit.personne.nom }}</td>
  <td>{{ inscrit.personne.prenom }}</td>
  <td>{{ inscrit.personne.email }}</td>
  <td>{% if inscrit.personne.telephone %}{{ inscrit.personne.telephone }}{% endif %}</td>
  <td>{{ inscrit.attestation_demandee | ouinon("-") }}</td>
  {% if repas_1_existant %}<td>{{ inscrit.inscription_repas_1 | ouinon("-") }}</td>{% endif %}
  {% if repas_2_existant %}<td>{{ inscrit.inscription_repas_2 | ouinon("-") }}</td>{% endif %}
</tr>
{% endfor %}
</table>

<hr/>

<section ng-controller="suiviCtrl">
 <p><em>section pour AngularJS</em></p>
</section>

<div class="footnotes">
<p>Contact pour l'inscription&nbsp;: Secrétariat du Département de la Recherche &lt;colloques.jean-monnet@u-psud.fr&gt;</p>
<p>Contact pour ce site&nbsp;: Odile Bénassy &lt;informatique-recherche.droit-eco-gestion@u-psud.fr&gt;</p>
</div>

{% endblock %}
