<!-- extend base layout -->
{% extends "base.html" %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/angular-pickadate.css') }}" />
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular-pickadate.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/soco.js') }}"></script>
{% endblock %}

{% block content %}

<section ng-controller="suiviCtrl">
<p>[[ auj | date : 'medium' ]]</p>

<h1>Liste des colloques en cours</h1>

<hr/>

<ul>
  {% for e in evenements %}
  <li><a href="{{ url_for('suivi', evt=e.id) }}">{{ e.titre }} &mdash; {{ e.date | datefr }}</a> &mdash; {{ nb_inscrits[e.id] }} inscription{% if nb_inscrits[e.id] > 1 %}s{% endif %}
  {% if e.formulaire %}<ul>{% for f in e.formulaire %}
  <li>Formulaire {% if loop.length > 1 %}#{{ f.id }}{% endif %}
  {% if today < f.date_ouverture_inscriptions %} ouvert du {{ f.date_ouverture_inscriptions | datefr }} au {{ f.date_cloture_inscriptions | datefr }} <a href=""><em>modifier ce formulaire</em></a>
  {% elif today <= f.date_cloture_inscriptions %} <strong>ouvert</strong> jusqu'au {{ f.date_cloture_inscriptions | datefr }} <a href=""><em>modifier la date de clôture</em></a> <span ng-controller="suiviCtrl"><input type="text" size="10" name="date_cloture_inscriptions_{{f.id}}" ng-model="evenements.date_cloture_inscriptions_{{f.id}}" pickadate format="dd/mm/yyyy" week-starts-on="1" ng-change="alert('ok')" /><input type="button" value="Modifier" /></span>
  {% else %}<strong>inscriptions terminées</strong> <a href=""><em>prolonger</em></a>
  {% endif %}</li>
  {% endfor %}</ul>{% endif %}
  <table><tr><td><a href="{{ url_for('suivi', evt=e.id) }}">voir les inscrits</td><td><a href="{{url_for('suivi', evt=e.id, action='listepdf') }}" download>liste à imprimer</a></td></tr></table>
  </li>
{% endfor %}
</ul>

</section>

<p>Pour créer une nouvelle page d'inscription &nbsp;: <a href="/new"><em>Créer un formulaire d'inscription</em></a></p>


<div class="footnotes">
<p>Contact pour l'inscription&nbsp;: Secrétariat du Département de la Recherche &lt;colloques.jean-monnet@u-psud.fr&gt;</p>
<p>Contact pour ce site&nbsp;: Odile Bénassy &lt;informatique-recherche.droit-eco-gestion@u-psud.fr&gt;</p>
</div>

{% endblock %}
